<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>JaJaMiPe-Keskustelufoorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>JaJaMiPe-Keskustelufoorumi</h1>

        <ol>
            <li th:each="alue: ${alueet}">
                <span th:text="${alue.nimi}">Keskustelualueen nimi</span> <a th:href="${'/' + alue.id}">Linkki alueen sivulle</a>
            </li>
        </ol>

        
    </body>
</html>