<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>JaJaMiPe-Keskustelufoorumi</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>JaJaMiPe-Keskustelufoorumi</h1>
        
        <table>
            <tr>
                <th >Alue: <span th:text="${alue}"></span></th>
                <th>>Viestejä</th>
                <th>Viimeisin viesti</th>
            </tr>
            <tr th:each="keskustelu: ${keskustelut}">
                <td> <a th:text="${keskustelu.nimi}" th:href="${'/' + keskustelu.id}">Keskustelualueen nimi tähän</a></td>
                <td th:text="${keskustelu.viestien_lkm}">Viestien lkm tähän</td> 
                <td th:text="${keskustelu.viimeisimmanViestinAika}">Viimeisimmän viestin ajankohta tähän</td>
            </tr>
            
        </table>

        
    </body>
</html>