body{
    background-color: lightblue;
    color: black;
    
}


h1{
    text-align: center;
    font-size: 32px;
    font-family: "Arial", serif;
    
}



p{
    
    color: black;
    border: 1px;
    border-color: lightgray;
    font-family: "Arial", serif;
}
.keskita {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    font-family: "Arial", serif;
} 

